header
{
    width: 100vw;
    height: 2rem;
    background-color: rgb(26, 26, 26);
    text-align: center;
    color: white;
    padding: 3px;
}



nav{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 25px;
    background-color: rgb(248, 248, 248);
    color: black;
}

nav h2
{
    text-shadow: 0px 2px gray;
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}

#Third
{
    /* border: 1px solid red; */

    width: 30rem;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    position: relative;
}

#Third input
{
    width: 100%;
    padding: 8px 20px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px rgb(169, 168, 168);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}


#SearchLogo
{
    position: absolute;
    left: 10px;
    top: 7px;
}

#Third input::placeholder
{
    color: rgb(169, 168, 168);
    font-weight: 400;
    font-size: 13px;
    padding-left: 25px;
}


#Third div
{
    display: flex;
    align-items: center;
    column-gap: 5px;
}